<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Produtos</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark" style="background-color: #003561;">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Marca</th>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td>R$ <%= product.price %>0</td>
        <td><%= product.brand %></td>
        <td><%= product.category %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Exibir', product, class:"btn btn-outline-secondary"  %></td>
        <td><%= link_to 'Editar', edit_product_path(product), class:"btn btn-outline-secondary" %></td>
        <td><%= link_to 'Deletar', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Adicionar produto", new_product_path, class:"btn btn-secondary" %>
